%p Olá #{@resource.email}!

%p Alguém pediu um link para alterar sua senha. Você pode mudar a senha pelo link abaixo.

%p= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token)

%p Se você não requisitou isso, por favor, ignore este email.
%p Sua senha não será alterada até que você acesse o link acima e crie uma nova senha.
