Olá #{@resource.email}!


Alguém pediu um link para alterar sua senha. Você pode mudar a senha pelo link abaixo.

= edit_password_url(@resource, reset_password_token: @token)


Se você não requisitou isso, por favor, ignore este email.


Sua senha não será alterada até que você acesse o link acima e crie uma nova senha.
